{% extends "form.html" %}

{% block heading %}Edit Show {{this_show.id}} {% endblock %}

{% block form %} action="./update" {% endblock %}

{% block title %} value="{{this_show.title}}" {% endblock %}

{% block network %} value="{{this_show.network}}" {% endblock %}

{% block release_date %} value="{{this_show.release_date|date:"Y-m-d"}}" {% endblock %}

{% block desc %}{{this_show.desc}} {% endblock %}

{% block button %} Update {% endblock %}

{% block go %}<a href="/shows/{{this_show.id}}">Go to Show</a>{% endblock %}